[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/Emoji-swift"]
	path = Carthage/Checkouts/Emoji-swift
	url = https://github.com/safx/Emoji-swift.git
[submodule "Carthage/Checkouts/OHHTTPStubs"]
	path = Carthage/Checkouts/OHHTTPStubs
	url = https://github.com/AliSoftware/OHHTTPStubs.git
[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/RxSwift"]
	path = Carthage/Checkouts/RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
[submodule "Carthage/Checkouts/Starscream"]
	path = Carthage/Checkouts/Starscream
	url = https://github.com/daltoniam/Starscream.git
[submodule "Carthage/Checkouts/yavfl"]
        path = Carthage/Checkouts/yavfl
	url = https://github.com/safx/yavfl.git
[submodule "Carthage/Checkouts/APIKit"]
	path = Carthage/Checkouts/APIKit
	url = https://github.com/ishkawa/APIKit.git
[submodule "Carthage/Checkouts/TypetalkKit"]
	path = Carthage/Checkouts/TypetalkKit
	url = https://github.com/safx/TypetalkKit.git
[submodule "Carthage/Checkouts/MarkdownKit"]
	path = Carthage/Checkouts/MarkdownKit
	url = https://github.com/safx/MarkdownKit.git
[submodule "Carthage/Checkouts/FontAwesome.swift"]
	path = Carthage/Checkouts/FontAwesome.swift
	url = https://github.com/thii/FontAwesome.swift.git
[submodule "Carthage/Checkouts/SlackTextViewController"]
	path = Carthage/Checkouts/SlackTextViewController
	url = https://github.com/slackhq/SlackTextViewController.git
[submodule "Carthage/Checkouts/ObservableArray-RxSwift"]
	path = Carthage/Checkouts/ObservableArray-RxSwift
	url = https://github.com/safx/ObservableArray-RxSwift.git
