github "Alamofire/Alamofire" ~> 3.2.1
github "ReactiveX/RxSwift" ~> 2.3.0
github "ReSwift/ReSwift"
github "safx/Emoji-swift" ~> 0.0.2
github "safx/MarkdownKit" ~> 0.2.0
github "safx/ObservableArray-RxSwift" ~> 0.0.1
github "safx/TypetalkKit" ~> 0.4.0
github "safx/yavfl" ~> 0.2.0
github "slackhq/SlackTextViewController"
github "thii/FontAwesome.swift" "0.7.0"
